<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COUNTRIES</h1><br><br>

<form action="{% url 'co_search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form><br><br>
    <a href="{% url 'country_create' %}" type="button">add countries</a><br><br>
    <table border="1">
        <tr>
        <th>S.No</th><th>uuid</th><th>country name</th><th>created</th><th>updated</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{object.country_uuid}}</td>
            <td>{{object.country_name}}</td>
            <td>{{object.created}}</td>
            <td>{{object.updated}}</td>
            <td><a href="{% url 'country_update' object.id %}" type="button">update</a></td>
            <td><a href="{% url 'country_delete' object.id %}" type="button">delete</a></td>
        </tr>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
</body> 
</html>
